.card-body {
  margin: 3rem;
  border-radius: 3rem;
  background-color: lightgray;
}

.genre-title-lable,
.genre-desc-lable {
  margin: auto;
  font-size: 4rem;
}

.genre-title-value,
.genre-desc-value {
  margin: auto;
  font-size: 2rem;
}