.card-body {
  background-color: lightgray;
}

.dir-name-lable,
.dir-bio-lable,
.dir-bir-lable {
  margin: auto;
  font-size: 4rem;
}

.dir-name-value,
.dir-bir-value,
.dir-bio-value {
  margin: auto;
  font-size: 2rem;
}